<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>三人科技有限公司支付演示界面</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
    <form class="form-signin" action="/channel/submitOrder" method="post" target="_blank">
        <h2 class="form-signin-heading">输入订单信息并提交</h2>
        <label for="merOrderNo" class="sr-only">商户订单号</label>
        <input type="text" id="merOrderNo" name="merOrderNo" class="form-control" placeholder="订单号" th:value="${orderNo}" required autofocus>
        <label for="payAmt" class="sr-only">付款金额</label>
        <input type="text" id="payAmt" name="payAmt" class="form-control" placeholder="金额" value="0.01" required>
        <label for="goodsName" class="sr-only">商品名称</label>
        <input type="text" id="goodsName" name="goodsName" class="form-control" placeholder="商品名称" value="小当家食品" >
        <label for="goodsDesc" class="sr-only">商品描述</label>
        <input type="text" id="goodsDesc" name="goodsDesc"  class="form-control" placeholder="商品描述" value="小当家" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
    </form>

</div>
 <!-- /container -->

</body>
</html>